@import "tailwindcss" ;

* {
  box-sizing: border-box;
}

.inter{
  font-family: 'Inter', 'Montserrat', 'Plus Jakarta Sans', sans-serif;
}

.space-mono {
  font-family: "Space Mono", monospace;
}

.container {
  width: 80%;
  margin: 0 auto;
}